version: '3.8'
services:
  api:
    build: .
    ports:
      - "8000:8000"
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: secret
# Modified 2022-07-06
# Modified 2023-03-27
# Modified 2023-06-20
# Modified 2024-02-15
# Modified 2024-05-18
